@charset "utf-8";
/* CSS Document */
body{margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align:baseline;
	background-color:#F7F1CF;}
/* HTML5 display-role reset for older browsers */

main{display: block;}
ol, ul {list-style: none;}

.frontCover p a:hover{color:#507962}/*“关于”鼠标放置变化*/
.button a:hover{opacity:0.7}
.button-one:hover{opacity:0.7;}
.logo a img:hover{opacity:0.9;
				transform: scale(1.2)}
.link a:hover{opacity:0.6}

/*“选择”鼠标放置变化*/

*{font-family: "黑体";
	color:#412614}
.audio{background-attachment:fixed;}


/*---封面部分---*/
	.frontCover{;text-align: center;
				background-image: url(../img/201818340406-huangyuxuan-201818340407-jiazhongqi-1701.jpg);
				background-size: 100% 100%;
				background-attachment: fixed;
				margin-top: -20px;
				padding-bottom:750px}
	.frontCover p{text-align: right;
					position: fixed;
					width:100%;
					margin-top:25px;}
	.frontCover p a{font-size:20px;
					border:none;
					text-decoration:none;
					color:#412614;margin-right:10px}
	audio{background:#F7F1CF;
		margin-right:80%;
		margin-top:2%;
		border-radius: 30px}
/*---封面部分结束---*/

/*---故事开头---*/
	.logo{float: right;
		margin:-12% 48% 0px 0px;}
	hr{color: #FFFFFF;border:none;height:1px}
	.story{background-image: url(../img/201818340406-huangyuxuan-201818340407-jiazhongqi-1702.jpg);
			background-color:#fdfcde;
			background-size: 100% 100%;
			margin:3% 13% 2.5% 13%;
			border-radius:50px;}
	.story p{font-size:17.2px;
			padding: 70px 150px 0px 150px;
			line-height: 1.5;}

	#qustionOne{padding-top:90px;
				padding-bottom:200px;
				margin-right: 300px}
	.button{text-align: center;
			padding-bottom:42px;}

	.buttonB{text-align: center;
			padding-bottom:42px;float:right;
			margin-top: -68px;
			margin-right:30%}
	.button a{background-color:#f89f35;
				text-decoration: none;
				border:none;
				font-size:19px;
				color: #FFFFFF;
				border-radius:30px;
				padding:10px 30px 10px 30px;
				margin-left:50px;
				margin-right:100px}
	.buttonB a{background-color:#f89f35;
				text-decoration: none;
				border:none;
				font-size:19px;
				color: #FFFFFF;
				border-radius:30px;
				padding:10px 30px 10px 30px;
				margin-left:50px;
				margin-right:100px}
	.button-one{background-color:#f89f35;
				text-decoration: none;
				border:none;
				font-size:19px;
				color: #FFFFFF;
				border-radius:30px;
				padding:10px 25px 8px 25px;
				margin-left:35%;
				margin-right:100px;
				margin-bottom:20px;
				cursor: pointer}
/*---故事开头结束---*/

/*---故事第一主要部分---*/
	.firstpart{background-color:#fdfcde;}
	 h1{margin: 0% 0% 7% 15%;
		padding-top:30px;
		font-size:27px;padding-bottom:25px;}
	#develope{margin-top: -50px;
				margin-bottom:20px}

	.mainchart{margin:3% 13% 2% 13%;}
	.line{margin-top: -50px}
	.firstpart p{margin:5% 15% 2.5% 15%;
				font-size:17.5px}
	#livetitle{margin-top: -50px;}
	#livetitle h1{margin:5% 0% 0% 15%;
				font-size:27px}
	#livetitle p{margin:32% 15% 3% 15%;
					font-size:17.5px;}

	#tradition{margin-top: -65px;
		background-color:#fdfcde;}
	.tradionTitle{padding-bottom:60px;
				padding-top:40px}
	.control{margin-top: -510px;line-height: 1.5;}
	.control p{padding-top:100px}
	.lastCover{;text-align: center;
				background-image:url(../img/201818340406-huangyuxuan-201818340407-jiazhongqi-1703.jpg);
				background-size: 100% 100%;
				background-attachment: fixed;
				margin-top: -20px;
				padding-bottom:750px}
	.icon{margin-left: 15%;}
	.link{}
	.link a img{border-radius:15px;
			width: 100px;
			height: 100px;
			text-decoration: none;
			border:none;
			margin-left:27%;}

	/*“返回顶部”*/
	#buttonLast{padding-top:20%;
				margin-bottom: -100%}
	.lineLast{background-color: #fdfcde;
				margin:-90px 0 -50px 0;
				padding:1px 0px 1px 0px}
	.lineLast p{font-size:15px;
			line-height: 1.5;
			text-align: center;}
	.special{margin-top: -50px}
