@charset "utf-8";
/* CSS Document */
body{margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align:baseline;
	background-color:#F7F1CF}
.frontCover p a:hover{color:#507962}/*“关于”鼠标放置变化*/
.frontCover p{text-align: right;
				position: fixed;
				width:100%;
				margin-top:25px;}
.button a:hover{opacity:0.7}/*“选择”鼠标放置变化*/
.button{padding-bottom:42px;}
.button a{background-color:#f89f35;
			text-decoration: none;
			border:none;
			font-size:19px;
			color: #FFFFFF;
			border-radius:30px;
			padding:10px 30px 10px 30px;
			margin-left:50px;
			margin-right:50px}
h1{font-family: "黑体";
	font-size: 26px;
	color:#412614;
	margin-left: 10%;
	padding-top:30px}
.p1{background-color: #f1864c;
	border-radius:30px;
	font-family: "黑体";
	font-size: 20px;
	color:#FFF;
	text-decoration: none;
	border:none;
	padding:5px 50px 5px;
	margin-left: 300px;
	margin-right:350px}
.p2{background-color: #689c63;
	border-radius:30px;
	font-family: "黑体";
	font-size: 20px;
	color:#FFF;
	text-decoration: none;
	border:none;
	padding:5px 50px 5px;
	margin-left: 400px;
	margin-right:250px}

.lineLast{background-color: #fdfcde;
				margin:0px;
				padding:1px 0px 1px 0px;text-align: center;}
	.lineLast p{font-size:15px;
			line-height: 1.7;
			}